@charset "utf-8";

/*========= レイアウトのためのCSS ===============*/

p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 300%;
}

/*========= body背景色の変化CSS ===============*/

body {
  animation: bgchange 20s ease infinite;
}

@keyframes bgchange {
  0% {
    background: #ffe6e1;
  } /*変化させたい色*/
  25% {
    background: #fdcb9e;
  } /*変化させたい色*/
  50% {
    background: #fdcbc1;
  } /*変化させたい色*/
  75% {
    background: #ffff8c;
  } /*変化させたい色*/
  90% {
    background: #b2dffb;
  } /*変化させたい色*/
  100% {
    background: #ffe6e1;
  } /*変化させたい色*/
}
