@charset "utf-8";

p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 300%;
}

body {
  animation: bgchange 15s ease infinite;
}

@keyframes bgchange {
  0% {
    background: #7da18d;
  }
  25% {
    background: #f1e6ff;
  }
  50% {
    background: #e1c2ff;
  }
  75% {
    background: #96aadc;
  }
  100% {
    background: #40757f;
  }
}
